a, a:link, a:visited, button, input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  font: menu;
  color: ButtonText;
  padding: 2px 8px;
  background-color: #EED;
  border: 1px outset ButtonText;
}
a.delete {
  color: red;
}
a.text {
  color: navy;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
  border: none;
}
a.file-dl, a.file-show {
  color: blue;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
}
a.image {
  color: navy
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  background-color: transparent;
  border: none;
}
h1 {
  text-align: center;
}
textarea {
  width: 800px;
  height: 100px;
}
td.key textarea {
  width: 100%;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}
table .name,
table .keyname,
table .key,
table .address {
  text-align: left;
}
table .member,
table .right,
table .actions {
  text-align: center;
}
table .keyname {
  max-width: 50px;
}
table th {
  background-color: #EEE;
  text-align: center !important;
  height: 30px;
}
table tr {
  border-bottom: 1px gray dashed;
}
table tr:first-child {
  border-bottom: 1px black solid;
}
table tr:hover {
  background-color: #CCC;
}
table tr td {
  padding: 10px 0;
}
#nav {
  padding: 5px 0 5px 20px;
  border-bottom: 1px solid gray;
}
#nav p span {
  font-weight: bold;
}
#nav p.breadcrumbs:before {
  content: "» ";
}
div.invite {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}
div.invite span {
  font-weight: bold;
}
div.error {
  padding-left: 10px;
  color: red;
  font-style: italic;
}
div.rw {
  color: black;
  font-weight: bold;
}
div.rw:after {
  content: " (rw)";
  font-style: italic;
  color: gray;
}
div.ro-git,
div.ro-http {
  color: maroon;
  padding-left: 20px;
}
div.ro-http {
  margin-bottom: 5px;
}
div.ro-git:after,
div.ro-http:after {
  content: " (readonly)";
  font-style: italic;
  color: gray;
}
#new-desc {
  min-width: 400px;
}
#repoinfo {
  margin: auto;
  clear: both;
}
#repoinfo div.info {
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}
#repoinfo div.files {
  margin-left: 10px;
  margin-right: 10px;
}
#repoinfo div.files div {
  max-height: 300px;
  overflow: auto;
}
#repo-toolbar {
  margin: 5px;
  float: right;
}
#selected-branch {
  font-weight: bold;
}
#selected-branch option[selected=selected] {
  font-style: italic;
}
